* {
    padding: 0;
    margin: 0;
    list-style: none;
}


header {
    width: 100%;
    height: 100vh;
}


.bg-slider {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


nav ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    display: block;
    color: #fff;
    font-family: Futura;
    font-size: 27px;
    padding: 30px 20px 0px;
}

nav a:hover {
    color: #3d5cdb;
    transition: 0.5s;
}

.alltitles {
    position: relative;
    width: 100%;
    height: 100%;
}


.titles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}

.title {
    width: 900px;
}

.subtitle {
    color: #fff;
    font-family: Futura;
    font-style: italic;
    font-size: 45px;
    font-weight: 100;
    text-align: center;
    margin: 30px 0px 0px;
}


.section-title {
    color: #3d5cdb;
    font-family: Futura;
    font-size: 55px;
    padding: 40px;
    text-align: center;
}


#introduction {
    width: 100%;
}

.intro-content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 60px;
}


.intro-img1 {
    width: 500px;
    margin-right: 10px;
}

.right-box {
    width: 500px;
    margin: 20px;
}

.right-box p {
    color: #333333;
    width: 400px;
    line-height: 32px;
    margin: 0 auto;
}

.intro-btn1 {
    background-color: #3d5cdb;
    border-radius: 12px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 5px 0px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 160px;
}

.intro-btn1:hover {
    box-shadow: #d3d3d3 0px 2px 15px 2px;
}


.intro-content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 40px;

}

.left-box {
    width: 500px;
    margin: 20px;
}

.left-box p {
    color: #333333;
    width: 400px;
    line-height: 32px;
    margin: 0 auto;
}

.intro-img2 {
    width: 500px;
    margin-left: 10px;
}



.intro-btn2 {
    background-color: #ffbf00;
    border-radius: 12px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 5px 0px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 160px;
}

.intro-btn2:hover {
    box-shadow: #d3d3d3 0px 2px 15px 2px;
}



#courses {
    position: relative;
}




#prticles-js {
    width: 100%;
    height: 100%;
    background-color: #d6e6f8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: -1;
}

.corse-all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.corse-all h3 {
    color: #183c61;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 14.6667px;
    font-weight: 700;
    margin: 10px;
    padding: 20px 0px 0px;
    text-align: center;
}

.course-card {
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 280px;
    margin: 20px 10px 30px;
    padding: 30px;
}



.course-img-html {
    margin: 1px 30px;
}

.course-btn-html {
    background-color: #f16529;
    color: #fff;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    margin: 15px 5px;
    text-align: center;
    text-decoration: none;
    padding: 0px 15px 0px;
}



.corse-all a:hover {
    box-shadow: #d3d3d3 0px 2px 15px 2px;
}




.course-img-css {
    margin: 2px 30px;
}


.course-btn-css {
    background-color: #29a9df;
    color: #fff;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    margin: 15px 5px;
    text-align: center;
    text-decoration: none;
    padding: 0px 15px 0px;
}




.course-img-unity {
    margin: 30px 40px;
}


.course-btn-unity {
    background-color: #333333;
    color: #fff;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    margin: 15px 5px;
    text-align: center;
    text-decoration: none;
    padding: 0px 15px 0px;
}



.course-img-ruby {
    margin: 30px 30px;
}


.course-btn-ruby {
    background-color: #ff5252;
    color: #fff;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    margin: 15px 5px;
    text-align: center;
    text-decoration: none;
    padding: 0px 15px 0px;
}



.course-img-js {
    margin: 2px 25px;
}


.course-btn-js {
    background-color: #fed700;
    color: #fff;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    margin: 15px 5px;
    text-align: center;
    text-decoration: none;
    padding: 0px 15px 0px;
}


.course-img-swift {
    margin: 20px 30px;
}


.course-btn-swift {
    background-color: #fe7536;
    color: #fff;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    margin: 15px 5px;
    text-align: center;
    text-decoration: none;
    padding: 0px 15px 0px;
}




.course-img-go {
    margin: 15px 30px;
}


.course-btn-go {
    background-color: #73cedd;
    color: #fff;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    margin: 15px 5px;
    text-align: center;
    text-decoration: none;
    padding: 0px 15px 0px;
}




#images {
    width: 100%;
}

.acsess-map {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    color: #3d5cdb;
    font-family: Futura;
    line-height: 60px;
    text-align: center;
    margin-top: 60px;
}




.images-slideshow {
    margin: 10px auto;
    width: 80%;
}

.images-slideshow img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.fuwatAnime {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@media screen and (max-width:480px) {
    nav {
        display: none;
    }

    .title {
        width: 263px;
    }

    .subtitle {
        font-size: 15px;
    }


    .section-title {
        font-size: 32px;
        padding: 40px 40px 20px;
    }

    .intro-content1 {
        flex-wrap: wrap;
    }

    .right-box {
        width: 335px;
    }

    .intro-img1 {
        width: 335px;
    }

    .right-box p {
        width: 302px;
        font-size: 13px;
        line-height: 26px;
    }

    .intro-btn1 {
        font-size: 15px;
        margin: 30px auto;
        width: 160px;
    }

    .intro-content2 {
        flex-wrap: wrap-reverse;
    }

    .intro-img2 {
        width: 335px;
    }

    .left-box {
        width: 335px;
    }

    .left-box p {
        width: 302px;
        font-size: 13px;
        line-height: 26px;
    }

    .intro-btn2 {
        font-size: 15px;
        margin: 30px auto;
        width: 160px;
    }

    .course-card {
        width: 100px;
        height: 180px;
        margin: 20px 10px 10px;
        padding: 30px;
    }
    
    .corse-all h3{
        padding-top: 5px;
        font-size: 13px;
    }

    .course-img-html {
        margin: 0px 16px;
    }

    .course-btn-html {
        font-size: 10px;
        margin: 0px auto;
        border-radius: 20px;
        width: 100px;
        height: 40px;
        padding: 0px;
    }
    
    .course-img-css {
        margin: 1px 20px;
    }
    
    .course-btn-css {
        font-size: 10px;
        margin: 0px auto;
        border-radius: 20px;
        width: 100px;
        height: 40px;
        padding: 0px;
    }
    
    .course-img-unity {
        margin: 1px 10px;
    }

    
    .course-btn-unity {
        font-size: 10px;
        margin: 0px auto;
        border-radius: 20px;
        width: 100px;
        height: 40px;
        padding: 0px;
    }
    
    .course-img-ruby {
        margin: 1px 10px;
    }
    
    .course-btn-ruby {
        font-size: 10px;
        margin: 0px auto;
        border-radius: 20px;
        width: 100px;
        height: 40px;
        padding: 0px;
    }
    
    .course-img-js {
        margin: 0px 17px;
    }
    
    .course-name-js{
        line-height: 14px;
    }
    
    
    .course-btn-js {
        font-size: 10px;
        margin: 0px auto;
        border-radius: 20px;
        width: 100px;
        height: 40px;
        padding: 0px;
    }
    
    .course-img-swift {
        margin: 0px 0px;
    }

    
    .course-btn-swift {
        font-size: 10px;
        margin: 14px auto 0px;
        border-radius: 20px;
        width: 100px;
        height: 40px;
        padding: 0px;
    }
    
    .course-img-go {
        margin: 0px 0px;
    }
    
    h3.course-name-go{
        margin-top: 5px; 
        padding: 0px;
    }

    
    .course-btn-go {
        font-size: 10px;
        margin: 0px auto;
        border-radius: 20px;
        width: 100px;
        height: 40px;
        padding: 0px;
    }
    
    iframe{
        width: 375px;
        height: 281px;
    }
    
    footer {
        margin-top: 40px;
    }
    
    
}

